<div class="section"> 
    <h1 mat-dialog-title>{{docente!= null ? 'Editar Usuario': 'Nuevo Usuario' }}</h1>
    <hr />
    <form [formGroup]="formLogin" novalidate >
    <div mat-dialog-content>
     <div class="row">
        <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input" type="text"  formControlName="tipoDocumento"  matInput placeholder="Tipo de documento" maxlength="40"> 
           <!--  <mat-error *ngFor="let validation of errors.Requerido">
               <mat-error class="error-message"
               *ngIf="formLogin.get('descripcion').hasError(validation.type) && (formLogin.get('descripcion').dirty || formLogin.get('descripcion').touched)">
               {{validation.message}}
                   </mat-error>
           </mat-error> -->
       </mat-form-field>
    </div>

     <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
             <input clas="input" type="text"  formControlName="nombre"  matInput placeholder="Nombre" maxlength="40"> 
            <!--  <mat-error *ngFor="let validation of errors.Requerido">
                <mat-error class="error-message"
                *ngIf="formLogin.get('descripcion').hasError(validation.type) && (formLogin.get('descripcion').dirty || formLogin.get('descripcion').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input"  type="text"  formControlName="apellido"  matInput placeholder="apellido" maxlength="40">
              <!-- <mat-error *ngFor="let validation of errors.Telefono">
                <mat-error class="error-message"
                *ngIf="formLogin.get('imagen').hasError(validation.type) && (formLogin.get('imagen').dirty || formLogin.get('imagen').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input"  type="text"  formControlName="documento"  matInput placeholder="Documento" maxlength="40">
              <!-- <mat-error *ngFor="let validation of errors.Telefono">
                <mat-error class="error-message"
                *ngIf="formLogin.get('imagen').hasError(validation.type) && (formLogin.get('imagen').dirty || formLogin.get('imagen').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input"  type="text"  formControlName="telefono"  matInput placeholder="Teléfono" maxlength="40">
              <!-- <mat-error *ngFor="let validation of errors.Telefono">
                <mat-error class="error-message"
                *ngIf="formLogin.get('imagen').hasError(validation.type) && (formLogin.get('imagen').dirty || formLogin.get('imagen').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input"  type="text"  formControlName="celular"  matInput placeholder="Celular" maxlength="40">
              <!-- <mat-error *ngFor="let validation of errors.Telefono">
                <mat-error class="error-message"
                *ngIf="formLogin.get('imagen').hasError(validation.type) && (formLogin.get('imagen').dirty || formLogin.get('imagen').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input" type="text"  formControlName="email"  matInput placeholder="email" maxlength="40">
              <!-- <mat-error *ngFor="let validation of errors.Telefono">
                <mat-error class="error-message"
                *ngIf="formLogin.get('imagen').hasError(validation.type) && (formLogin.get('imagen').dirty || formLogin.get('imagen').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
    <div class="col-sm-6 col-xs-12">    
        <mat-form-field class="input"  >
            <input clas="input" type="text"  formControlName="direccion"  matInput placeholder="Dirección" maxlength="40">
              <!-- <mat-error *ngFor="let validation of errors.Telefono">
                <mat-error class="error-message"
                *ngIf="formLogin.get('imagen').hasError(validation.type) && (formLogin.get('imagen').dirty || formLogin.get('imagen').touched)">
                {{validation.message}}
                    </mat-error>
            </mat-error> -->
        </mat-form-field>
    </div>
        </div>
    </div>

    
    <div class="row justify-content-center">
    <div mat-dialog-actions  class="col-md-12 justify-content-center text-center">
        <button mat-raised-button (click)="close()"  [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" 
        type="submit" [disabled]="!formLogin.valid" [mat-dialog-close]="true"> Guardar</button>
    </div> 
    </div> 
    </form>
    </div>
    
    