<section>
    <div class="row">
      <div class="col-6">
     <h2 class="titulo text-start"> <i class="uil uil-clipboard-alt"></i> Administración de docentes </h2>
    </div>  
    <div class="col-6 justify-content-end">
           <div class="ibox-title mt-5  ">
              <div class="pull-right" style="margin-top: -30px;" >
                <button type="button" class="btn btn-primary btnListado btn-sm ju " (click)="openAdd()" style="margin-top: -15px;">
                  <i class="uil uil-plus"></i>
                                       Agregar
                 </button>
              </div>
         </div>
        </div>
      </div>
  
      <div class="ibox">
  
        <div class="row m-b-sm m-t-sm ">
    
          <div class="col-md-12 justify-content-center ">
    
            <div class="input-group mb-2" *ngIf="showSearchControl">
  
              <div class="search-component">
                <input type="text" placeholder="Search.." [(ngModel)]="filterPost">
                <br>
            </div>
  
              <span class="input-group-btn">
                <button type="button" class="btn  btn-primary  btn-sm " (click)="clearSearch()">
                  <i class="uil uil-sync"></i>
                </button>
              </span>
            </div>
  
          </div>
    
        </div>     
  
  
    <table class="table table-striped table-primary">
      <thead>
        <tr>
          <th style="width: 5%;" class="text-center">#</th>
           <th *ngFor="let f of fields" (click)="changeSort('f.display')">{{f.display}}</th>
           <th style="width: 5%;" class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <th scope="row">1</th>
          <td>CC</td>
          <td>Juan Gonzalez</td>
          <td>Diomedez Sindias</td>
          <td>juanito@corre.com</td>
          <td><i class="uils uil-trash-alt"></i>
              <i class="uil uil-edit"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>CC</td>
          <td>Elian</td>
          <td>Muñoz</td>
          <td>jj123@corre.es</td>
           <td>
            <i class="uils uil-trash-alt"></i>
            <i class="uil uil-edit"></i>
          </td>
        </tr>
        <tr>
        </tr> -->
        <!-- | filterPipe: filterPost   -->
        
        <tr *ngFor="let d of data ; let i = index">
               <tr *ngFor="let d of data | orderList:optionSort.property:optionSort.order ; let i = index">
          <td class="text-center">{{1 + i}}</td>

        <td *ngFor="let f of fields">
          
          <div *ngIf="f.link">
              <div *ngIf="(f.formatter && f.formatter.length > 0)">
              <a class="" (click)="openEdit(d)">
                  <span [innerHtml]="">  {{d.INICIO_SESION }}   </span><!--El datto 1 se lo pasamos a al pipe-->
              </a>                
              </div>
            </div>
              <div *ngIf="( f.name == 'tipoDocumento')">
                <span class="text-navy" (click)="openEdit(d)">{{d.ID_USUARIO}}</span>
              </div>
              <div *ngIf="( f.name == 'direccion')">
                <span class="text-navy" (click)="openEdit(d)">{{d.ID_PERFIL}}</span>
              </div>
              <div *ngIf="( f.name == 'apellido')">
                <span class="text-navy" (click)="openEdit(d)">{{d.ID_TERCERO}}</span>
              </div>
              <div *ngIf="( f.name == 'email')">
                <span class="text-navy" (click)="openEdit(d)">{{d.FECHA_INGRESO}}.</span>
              </div> 
            </td>
            <td> <button mat-raised-button class="bg-light" (click)="eliminarDocente(d.id)">
              <i class="uils uil-trash-alt"></i>
            </button></td>
            </tr>
        
      </tbody>
    </table>
  </div>
  </section>