<nav class="navbar navbar-expand-md bg-dark fixed-top">
    <div class="container-fluid  ">
        <h1 class="navbar-brand " routerLink="/inicio" >{{ title }}🎨</h1>
      <button  (click)="sidebarShow = !sidebarShow" class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"  >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [class.sidebar-slide-in]="sidebarShow" class="sidebar-slider" id="navbarNavAltMarkup btnMenuClose">
        <div class=" nav-item  navbar-nav justify-content-end flex-grow-1 ">
          <div class="" *ngIf="sidebarShow">
          <button class="sidebar-close" (click)="sidebarShow = !sidebarShow"><i class="uili uil uil-times"></i></button>
        </div>
        <a  class="nav-link set-sidebar-text" aria-current="page" routerLink="/inicio" >Cerrar Sesión</a>
          <a class="nav-link set-sidebar-text" routerLink="/nosotros" >Docentes</a>
          <a class="nav-link set-sidebar-text" routerLink="/servicios" >Estududiantes</a>
          <a class="nav-link set-sidebar-text" routerLink="/sucursales" >Administración</a>
          <!-- <a (click)="logout()"  class="TituloAPP  nav-link" *ngIf="estadoLogueado()" routerLink="/inicio" >Cerrar sesión</a>
        <a class="TituloAPP  nav-link" aria-current="page" routerLink="/login" *ngIf="!estadoLogueado()">Acceder</a> -->
        </div>
      </div>
    </div>
  </nav>

  